In [2]:
string = '''
Map From Layer1,Layer_2, La yer3
'''

In [3]:
string_cleaned = (string
                  .replace('\n', '')
                  .replace(' ', '')
                  .replace(')', '')
                  .replace('(', '')
                  .replace('\"', '')
                 )

In [4]:
objects = string_cleaned.split(',')

for i, j in enumerate(objects):
    print(i, j)

0 MapFromLayer1
1 Layer_2
2 Layer3

In [5]:
objects_cleaned = []
indexes_to_remove = [0]

for i, j in enumerate(objects):
    if i in indexes_to_remove:
        continue
    else:
        objects_cleaned.append(j)
        print(j)

Layer_2
Layer3

In [ ]:
with open('script.txt', 'w', encoding='cp1251') as file:
    for object in objects_cleaned:
        code = f'''
Alter Table "{object}" ( add layer_name Char(50) ) Interactive
Update {object} Set layer_name = "{object}"
Add Map Auto Layer {object}
Select * from {object}
Set Target On
Select * from City_Border
Objects Intersect Into Target Concurrency All Data layer_name=layer_name
Select * from {object}
Set Target On
Select * from main
Objects Erase Into Target Concurrency All Data layer_name=layer_name
Select * from {object}
Insert Into main ( COL1) Select layer_name From {object}
rollback Table {object}
commit Table main
        '''
        file.write(code + '\n')

In [ ]:
data = pd.read_csv(r"Z:\Attributes.csv", sep=";", header=0)
data

#### CREATE FIELDS

In [ ]:
with open('create_fields.txt', 'w', encoding='cp1251') as file:
    for object in data['field_1']:
        code = f'''
Alter Table "{object}" ( add field_1 Char(100) ) Interactive
Alter Table "{object}" ( add field_2 Float ) Interactive
Alter Table "{object}" ( add field_3 Char(254) ) Interactive
Alter Table "{object}" ( add field_4 Char(254) ) Interactive
Alter Table "{object}" ( add field_5 Char(50) ) Interactive
Alter Table "{object}" ( add field_6 Char(254) ) Interactive
        '''
        file.write(code + '\n')

In [ ]:
with open('func2.txt', 'w', encoding='cp1251') as file:
    for index, row in data.iterrows():
        code = f'''
select * from {row['field_1']}
update selection set field_1 = "{row['field_1']}"
update selection set field_2 = "{row['field_2']}"
update selection set field_3 = "{row['field_3']}"
update selection set field_4 = "{row['field_4']}"
update selection set field_5 = "{row['field_5']}"
update selection set field_6 = "{row['field_6']}"
        '''
        file.write(code)

#### DROP FIELDS

In [ ]:
with open('drop_fields.txt', 'w', encoding='cp1251') as file:
    for object in objects_cleaned:
        code = f'''
Alter Table "{object}" ( drop layer_name ) Interactive
Alter Table "{object}" ( drop layer_name2 ) Interactive
        '''
        file.write(code + '\n')

#### SPLIT MAIN

In [ ]:
with open('split_main.txt', 'w', encoding='cp1251') as file:
    for object in objects_cleaned:
        code = fr'''
Create Table "{object}" (layer_name Char(50),class Char(50),layer_name2 Char(100)) file "C:\{object}.TAB" TYPE NATIVE Charset "WindowsCyrillic"
Create Map For {object} CoordSys NonEarth Units "m" Bounds (-1000000, -1000000) (1000000, 1000000)
Select * from main where layer_name = "{object}"
Insert Into {object} ( COL1, COL2, COL3) Select COL1, COL2, COL3 From Selection
Commit Table {object}
                '''
        file.write(code + '\n')